@import "https://www.sky.com/assets/toolkit/v2.39.2/toolkit.min.css";
@import "card";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    height: 5em;
    display: block;
  }
}

.container {
  max-width: 1280px;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
